@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.rest_name {
  margin-top: 100px !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 3em;
}

.imgslider {
  width: 80%;
}

.imgslider-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.carousel-inner {
  width: 80%;
  height: 500px;
}

.carousel-item {
  width: 100%;
  height: 500px;
}

.carousel-item > img {
  max-width: 100%;
  max-height: 500px;
}

.imgcontainer {
  width: 100%;
  height: 500px;
}

.imgcontainer > img {
  height: 500px;
}

.tabs-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px !important;
}

.tabs {
  width: 80%;
}
