.menu {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cartmessage {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  width: 200px;
  height: 30px;
  border-radius: 7px;
  color: #fff;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: ease-in 0.3s;
}

.menu-item {
  height: 230px;
  display: flex;
  border-radius: 10px;
  margin-left: 40px !important;
  margin-top: 40px !important;
  box-shadow: 2.1px 1.3px 1.5px -18px rgba(0, 0, 0, 0.022),
    5.3px 3.2px 3.7px -18px rgba(0, 0, 0, 0.031),
    10.8px 6.6px 7.6px -18px rgba(0, 0, 0, 0.039),
    22.3px 13.5px 15.7px -18px rgba(0, 0, 0, 0.048),
    61px 37px 43px -18px rgba(0, 0, 0, 0.07);
}

.menu-image {
  height: 205px;
  border-radius: 7px;
}

.menu-image > img {
  width: 190px !important;
  height: 200px !important;
  border-radius: 7px;
}
.menu-details {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.menu-name {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  padding: 2px;
}

.menu-text {
  width: 100%;
  font-size: 16px;
  padding: 2px;
}

.menu-type {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 2px;
}

.menu-price {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  padding: 2px;
}

.add-cart {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.add {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.proceed_container {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.proceed {
  width: 150px !important;
}
